.toast {
  position: fixed;
  bottom: -100px;
  left: 50%;
  z-index: 1000;
  
  padding: 16px;
  border-radius: 8px;
  
  text-align: center;
  font-family: 'Noto Sans Regular';
  font-size: 1rem;
  color: #F9F6F1;
  
  background-color: #433837;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  
  transform: translateX(-50%);
  transition: bottom 0.5s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.toast--show {
  bottom: 20px;
  transform: translateX(-50%) scale(1.05);
}

.toast--force-hide {
  transition: none;
}

.toast--error {
  color: #F9F6F1;
  background-color: #871D1D;
}
